[submodule "vendor/rank1dynamic"]
	path = vendor/rank1dynamic
	url = https://github.com/haskell-distributed/rank1dynamic.git
[submodule "vendor/network-transport"]
	path = vendor/network-transport
	url = https://github.com/haskell-distributed/network-transport
[submodule "vendor/network-transport-tcp"]
	path = vendor/network-transport-tcp
	url = https://github.com/haskell-distributed/network-transport-tcp
[submodule "vendor/distributed-static"]
	path = vendor/distributed-static
	url = https://github.com/haskell-distributed/distributed-static
[submodule "tweag-d-p"]
	path = vendor/distributed-process
	url = https://github.com/tweag/distributed-process.git
[submodule "tasty-files"]
	path = vendor/tasty-files
	url = git@github.com:tweag/tasty-files.git
