[submodule "vendor/distributed-process"]
	path = vendor/distributed-process
	url = https://github.com/tweag/distributed-process.git
[submodule "vendor/distributed-static"]
	path = vendor/distributed-static
	url = git@github.com:haskell-distributed/distributed-static.git
[submodule "vendor/tasty-files"]
	path = vendor/tasty-files
	url = git@github.com:tweag/tasty-files.git
[submodule "vendor/clock"]
	path = vendor/clock
	url = git@github.com:tweag/clock
	branch = master
[submodule "options-schema"]
	path = vendor/options-schema
	url = git@github.com:tweag/options-schema.git
[submodule "network-transport-tcp"]
	path = vendor/network-transport-tcp
	url = git@github.com:tweag/network-transport-tcp.git
	branch = fix-zero-port-patch
[submodule "cep"]
	path = cep
	url = git@github.com:tweag/cep.git
[submodule "vendor/network-transport"]
	path = vendor/network-transport
	url = git@github.com:tweag/network-transport.git
[submodule "vendor/rank1dynamic"]
	path = vendor/rank1dynamic
	url = git@github.com:haskell-distributed/rank1dynamic.git
[submodule "vendor/distributed-process-extras"]
	path = vendor/distributed-process-extras
	url = git@github.com:tweag/distributed-process-extras.git
[submodule "vendor/distributed-process-async"]
	path = vendor/distributed-process-async
	url = git@github.com:tweag/distributed-process-async.git
