# Globals ----------------------------------------------------------------- {{{1
#

variables:
  GIT_DEPTH: 1  # clone only the current commit
  GIT_STRATEGY: clone  # make a fresh `git clone` of the repo for every new CI job
  GIT_SUBMODULE_STRATEGY: normal  # init and check out submodules
  CENTOS_RELEASE: '7.5'
  DOCKER_REGISTRY: registry.gitlab.mero.colo.seagate.com
  M0_VG_NO_SYMLINKS: "true"
  WORKSPACE_NAME: "${CI_PROJECT_NAME}${CI_PIPELINE_ID}"
  WORKSPACE_DIR:  "/home/gitlab-runner/workspaces/${CI_PROJECT_NAME}${CI_PIPELINE_ID}"

stages:
  - build
  - test
  - cleanup

before_script:
  - date -u -Isec
  - git log -1 --pretty=fuller
  - printenv

after_script:
  - date -u -Isec


# Build ------------------------------------------------------------------- {{{1
#

build:
  stage: build
  tags: [ m0vg ]
  except: [ tags ]

  script:
    # can't be defined in the 'variables:' section because it supports only
    # sinle level of variable expansion, e.g. A=$VAR; B=$A won't work for B
    - export JOB_NAME="${WORKSPACE_NAME}-build"

    - sudo rm -rf ${WORKSPACE_DIR}
    - mkdir -p ${WORKSPACE_DIR}
    - cp -a ../${CI_PROJECT_NAME} ${WORKSPACE_DIR}
    - cd ${WORKSPACE_DIR}

    # get fresh Mero copy
    - git clone --recursive --depth 1 --shallow-submodules http://gitlab.mero.colo.seagate.com/mero/mero.git

    # make sure that build images are up to date
    - docker pull $DOCKER_REGISTRY/mero/mero:$CENTOS_RELEASE
    - docker pull $DOCKER_REGISTRY/mero/halon:$CENTOS_RELEASE

    # build Mero
    - time docker run --rm --name ${JOB_NAME}
                      -v ~+:/data -w /data/mero
                  $DOCKER_REGISTRY/mero/mero:$CENTOS_RELEASE
                      bash -c "KERNEL=/lib/modules/\$(yum list installed kernel | tail -n1 | awk '{ print \$2 }').x86_64/build ;
                               ./autogen.sh &&
                               ./configure --with-linux=\$KERNEL &&
                               make -j10"

    # build Halon
    - time docker run --rm --name ${JOB_NAME}
                      -v ~+:/data -w /data/${CI_PROJECT_NAME}
                  $DOCKER_REGISTRY/mero/halon:$CENTOS_RELEASE
                      ./scripts/h0 make -j10

    # containers run commands as 'root' user, seize ownershipt back
    - sudo chown -R $(id -u):$(id -g) .


# rpmbuild check ---------------------------------------------------------- {{{1
#

rpmbuild:
  stage: test
  tags: [ docker-build ]
  except: [ tags ]
  # TODO: revert back to $CENTOS_RELEASE when we have new binary complete OS
  #       image, temporary use special EOS docker image that matches the old
  #       Jenkins base VM, untill we have the new OS image
  image: $DOCKER_REGISTRY/mero/halon:eos
  #image: $DOCKER_REGISTRY/mero/halon:$CENTOS_RELEASE

  script:
    - export RELEASE_DIR="$(ls -td /releases/master/B* | head -n1)"
    - yum install -y $RELEASE_DIR/mero{,-devel}-[0-9]*.rpm
    - time make rpms


# Unit Tests -------------------------------------------------------------- {{{1
#

UT:
  stage: test
  tags: [ m0vg ]
  except: [ tags ]

  variables:
    M0VG: ./m0vg-ut/scripts/m0vg

  before_script:
    # can't be defined in the 'variables:' section because it supports only
    # sinle level of variable expansion, e.g. A=$VAR; B=$A won't work for B
    - export JOB_NAME="${WORKSPACE_NAME}-ut"

    - date -u -Isec
    - git log -1 --pretty=fuller
    - printenv
    - cd ${WORKSPACE_DIR}

    - |
      test -d m0vg-ut ||
      git clone --recursive --depth 1 --shallow-submodules \
                http://gitlab.mero.colo.seagate.com/mero/mero.git \
                m0vg-ut

    # prepare m0vg ut VM
    - |
      $M0VG env add <<EOF
      M0_VM_BOX=centos75/dev-halon
      M0_VM_BOX_URL='http://ci-storage.mero.colo.seagate.com/vagrant/centos75/dev-halon'
      M0_VM_CMU_MEM_MB=4096
      M0_VM_NAME_PREFIX=${JOB_NAME}
      M0_VM_HOSTNAME_PREFIX=${JOB_NAME}
      EOF
    - time $M0VG up --no-provision cmu
    - time $M0VG reload --no-provision cmu

  script:
    - date -u -Isec
    - time $M0VG run /data/halon/scripts/h0 test

  after_script:
    - date -u -Isec
    - cd ${WORKSPACE_DIR}

    # clean up (ensures that VMs are destroyed in case of a manual job restart,
    #           when global 'cleanup' stage is not performed)
    - $M0VG destroy -f || true


# System Tests (singlenode) ----------------------------------------------- {{{1
#

ST singlenode:
  stage: test
  tags: [ m0vg ]
  except: [ tags ]

  variables:
    M0VG: ./m0vg-single/scripts/m0vg

  before_script:
    # can't be defined in the 'variables:' section because it supports only
    # sinle level of variable expansion, e.g. A=$VAR; B=$A won't work for B
    - export JOB_NAME="${WORKSPACE_NAME}-s"

    - date -u -Isec
    - git log -1 --pretty=fuller
    - printenv
    - cd ${WORKSPACE_DIR}

    - |
      test -d m0vg-single ||
      git clone --recursive --depth 1 --shallow-submodules \
                http://gitlab.mero.colo.seagate.com/mero/mero.git \
                m0vg-single

    # prepare m0vg singlenode
    - |
      $M0VG env add <<EOF
      M0_VM_BOX=centos75/dev-halon
      M0_VM_BOX_URL='http://ci-storage.mero.colo.seagate.com/vagrant/centos75/dev-halon'
      M0_VM_CMU_MEM_MB=4096
      M0_VM_NAME_PREFIX=${JOB_NAME}
      M0_VM_HOSTNAME_PREFIX=${JOB_NAME}
      EOF
    - time $M0VG up --no-provision cmu
    - time $M0VG reload --no-provision cmu

  script:
    - date -u -Isec
    - time $M0VG run "${M0_VERBOSE:+M0_VERBOSE=1}
                     /data/halon/scripts/h0 run-st"

  after_script:
    - PREFIX='st-single_'
    - date -u -Isec
    - cd ${WORKSPACE_DIR}

    # fetch syslog
    - $M0VG run sudo journalctl --no-pager --full --utc --boot
                                --output short-precise
                                > $CI_PROJECT_DIR/${PREFIX}syslog.log

    # fetch halon.decision.log
    - $M0VG scp cmu:/var/log/halon.decision.log\*
                    $CI_PROJECT_DIR/${PREFIX}halon.decision.log

    # fetch m0trace
    - |
      out=${PREFIX}halond.m0trace.txt.xz
      $M0VG run -f <<EOF
      trace=\$(ls -t /var/lib/halon/m0trace.* 2>/dev/null | head -1)
      if [[ -n \$trace ]]; then
          sudo /data/mero/utils/trace/m0trace -w0 -i \$trace | sort -n |
              xz > /data/$out
      fi
      EOF
      [[ -f $out ]] && mv -v $out $CI_PROJECT_DIR/

    # collect m0reportbug archives
    - |
      $M0VG run sudo /data/mero/utils/m0reportbug
      $M0VG scp cmu:m0reportbug-\*.tar.xz $CI_PROJECT_DIR/
      ( cd $CI_PROJECT_DIR/
        for f in m0reportbug-*.tar.xz; do mv -v {,$PREFIX}$f; done )

    # clean up (ensures that VMs are destroyed in case of a manual job restart,
    #           when global 'cleanup' stage is not performed)
    - $M0VG destroy -f || true

  artifacts:
    name: "$CI_PROJECT_NAME job $CI_JOB_ID ($CI_JOB_NAME) logs"
    when: always  # whenever the job has failed or succeeded
    paths:
      - st-single_syslog.log
      - st-single_halon.decision.log
      - st-single_halond.m0trace.txt.xz
      - st-single_m0reportbug-data.tar.xz
      - st-single_m0reportbug-traces.tar.xz
      # st-single_m0reportbug-cores.tar.xz  # NB cores are not being fetched


# System Tests (multinode) ------------------------------------------------ {{{1
#

ST multinode:
  stage: test
  tags: [ m0vg ]
  except: [ tags ]

  variables:
    M0VG: ./m0vg-multi/scripts/m0vg

  before_script:
    # can't be defined in the 'variables:' section because it supports only
    # sinle level of variable expansion, e.g. A=$VAR; B=$A won't work for B
    - export JOB_NAME="${WORKSPACE_NAME}-m"

    - date -u -Isec
    - git log -1 --pretty=fuller
    - printenv
    - cd ${WORKSPACE_DIR}

    - |
      test -d m0vg-multi ||
      git clone --recursive --depth 1 --shallow-submodules \
                http://gitlab.mero.colo.seagate.com/mero/mero.git \
                m0vg-multi

    # prepare m0vg cluster
    - |
      $M0VG env add <<EOF
      M0_VM_BOX=centos75/dev-halon
      M0_VM_BOX_URL='http://ci-storage.mero.colo.seagate.com/vagrant/centos75/dev-halon'
      M0_VM_CMU_MEM_MB=4096
      M0_VM_NAME_PREFIX=${JOB_NAME}
      M0_VM_HOSTNAME_PREFIX=${JOB_NAME}
      EOF
    - time $M0VG up --no-provision cmu /ssu/ /client/
    - time $M0VG reload --no-provision cmu /ssu/ /client/

    # generate m0genfacts cluster config
    - |
      cat <<EOF > m0-cluster.yaml
          confds: [ ${JOB_NAME}-cmu.local ]
          ssus:
            - host: ${JOB_NAME}-ssu1.local
              disks: /dev/vd[b-g]
            - host: ${JOB_NAME}-ssu2.local
              disks: /dev/vd[b-g]
          clients: [ ${JOB_NAME}-client1.local ]
          clovis-apps: [ ${JOB_NAME}-client1.local ]
      EOF
    - cat m0-cluster.yaml

  script:
    - date -u -Isec
    - time $M0VG run "${M0_VERBOSE:+M0_VERBOSE=1}
                      M0_CLUSTER=/data/m0-cluster.yaml
                      SAT=${JOB_NAME}-ssu1
            /data/halon/scripts/h0 run-st 'multinode.t_*'"

  after_script:
    - PREFIX='st-multi_'
    - date -u -Isec
    - cd ${WORKSPACE_DIR}

    # fetch syslog
    - for host in cmu ssu1 ssu2 client1; do
          $M0VG run --vm $host
              sudo journalctl --no-pager --full --utc --boot
                              --output short-precise
                              > $CI_PROJECT_DIR/${PREFIX}syslog.$host.log;
      done

    # fetch halon.decision.log
    - $M0VG scp cmu:/var/log/halon.decision.log\*
                    $CI_PROJECT_DIR/${PREFIX}halon.decision.log

    # clean up (ensures that VMs are destroyed in case of a manual job restart,
    #           when global 'cleanup' stage is not performed)
    - $M0VG destroy -f || true

  artifacts:
    name: "$CI_PROJECT_NAME job $CI_JOB_ID ($CI_JOB_NAME) logs"
    when: always  # whenever the job has failed or succeeded
    paths:
      - st-multi_syslog.*.log
      - st-multi_halon.decision.log


# Cleanup ----------------------------------------------------------------- {{{1
#

cleanup:
  stage: cleanup
  tags: [ m0vg ]
  except: [ tags ]
  when: always
  dependencies: []  # empty deps list prevents unneeded artifacts downloading

  variables:
    # If a branch is updated while CI tests for the older commit are still
    # being run, the checkout phase of 'cleanup' job will fail (thus cleanup
    # script will not run) unless GIT_DEPTH is deep enough to include the older
    # commit. Cloning 30 latest commits seems to be good enough - it's quite
    # rare for people to push more than 30 new commits in one go.
    GIT_DEPTH: 30

  script:
    - cd ${WORKSPACE_DIR}
    - ./m0vg-ut/scripts/m0vg destroy -f || true
    - ./m0vg-single/scripts/m0vg destroy -f || true
    - ./m0vg-multi/scripts/m0vg destroy -f || true


# Docker images ----------------------------------------------------------- {{{1
#

docker:rebuild-images:
  stage: build
  tags: [ docker-image-build ]
  when: manual
  only:
    changes:
      - docker/*

  variables:
    DOCKER_IMAGE_TAG: latest

  script:
    - make docker-image-${DOCKER_IMAGE_TAG}
    - make docker-push tag="${DOCKER_IMAGE_TAG}*"


docker:rebuild-images:75:
  extends: docker:rebuild-images
  variables:
    DOCKER_IMAGE_TAG: '7.5'


docker:rebuild-images:sage:
  extends: docker:rebuild-images
  variables:
    DOCKER_IMAGE_TAG: sage


docker:rebuild-images:sage-vm:
  extends: docker:rebuild-images
  variables:
    DOCKER_IMAGE_TAG: sage-vm


docker:rebuild-images:eos:
  extends: docker:rebuild-images
  variables:
    DOCKER_IMAGE_TAG: eos


# Vagrant boxes ----------------------------------------------------------- {{{1
#

vagrant:rebuild-box:
  stage: build
  tags: [ m0vg ]
  when: manual
  only:
    changes:
      - stack.yaml

  variables:
    M0VG: ./m0vg/scripts/m0vg

  script:
    - export JOB_NAME="${WORKSPACE_NAME}-box"
    - mkdir -p ${WORKSPACE_DIR}
    - cd ${WORKSPACE_DIR}
    - |
      test -d m0vg ||
      git clone --recursive --depth 1 --shallow-submodules \
                http://gitlab.mero.colo.seagate.com/mero/mero.git \
                m0vg
    - |
      $M0VG env add <<EOF
      M0_VM_BOX_BUILDER_MODE=yes
      M0_VM_BOX=centos75/dev
      M0_VM_BOX_URL='http://ci-storage.mero.colo.seagate.com/vagrant/centos75/dev'
      M0_VM_NAME_PREFIX=${JOB_NAME}
      M0_VM_HOSTNAME_PREFIX=${JOB_NAME}
      EOF

    - $M0VG box update
    - $M0VG up --no-provision devbox
    # TODO: use `h0 make --only-dependencies` instead of raw `stack build`
    #       (requires that `h0` could skip 'assert_mero')
    - |
      $M0VG run --vm devbox -f <<EOF
      cd /data/halon
      stack build --only-dependencies --ghc-options='-g -j2 -O0'
      EOF
    - $M0VG halt devbox

    # package a box
    - export BOX_VERSION=$(date +%y%m%d)
    - export BOX=centos75-dev-halon-$BOX_VERSION-libvirt.box
    - sudo $M0VG package --output $BOX devbox

    # move to the box storage
    - export BOX_DIR=/mnt/ci-storage/vagrant/boxes/centos75/dev-halon/$BOX_VERSION/libvirt/
    - mkdir -p $BOX_DIR
    - mv -v ./m0vg/scripts/provisioning/$BOX $BOX_DIR

  after_script:
    - date -u -Isec
    - cd ${WORKSPACE_DIR}
    - $M0VG destroy -f || true

# vim: foldmethod=marker shiftwidth=2 tabstop=2 expandtab
