# Address of the halond TCP endpoint in "address:port" format.
# Required by the halond.service. Also used by halonctl/hctl to obtain
# correct local address for its default listen endpoint.
#HALOND_LISTEN=10.0.2.15:9010

# There is a check that verifies that halon runs against the same mero
# version that it was built with. This is not often necessary. Set
# DISABLE_MERO_COMPAT_CHECK to disable this check.
#DISABLE_MERO_COMPAT_CHECK=1
