# Address of the halond TCP endpoint in "address:port" format.
# Required by the halond.service. Also used by halonctl/hctl to obtain
# correct local address for its default listen endpoint. One can refer
# to the following sources to check unassigned port numbers:
#   https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml
#   https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers
#HALOND_LISTEN=127.0.0.1:9070

# This is a list of debug options for m0_halon_interface.
#HALON_INTERFACE_DEBUG_OPTIONS="log-link,log-msg"
# Possible options (see m0_halon_interface_init() doc for the full list):
#
# log-entrypoint
#   Log entrypoint request/reply
# log-link
#   Log m0_ha_link state transitions
# log-msg
#   Log all m0_ha_msg that are sent/received by Halon along with their
#   delivery status.
# disable-compatibility-check
#   This options disables the code that verifies that Halon runs against
#   the same Mero version that it was built with.
#   This is useful during debugging when using slightly modified, but still
#   different version of Mero makes debugging process much faster because
#   only Mero needs to be rebuilt. Use with caution.

# Enable halon tracing of halon:m0d by default
#HALON_TRACING="halon:m0d m0:notification"
