[Unit]
Description=Halon Daemon
Documentation=https://github.com/tweag/halon
Wants=rabbitmq-server.service 
After=network.target rabbitmq-server.service

[Service]
EnvironmentFile=/etc/sysconfig/halond
# Uncomment to perform cleanup of the old Halon m0trace.PID files on startup,
# this can be helpful for debugging.
#ExecStartPre=/usr/bin/systemd-tmpfiles --remove halond.conf
ExecStart=/usr/bin/halond -l $HALOND_LISTEN +RTS -s -A32m -I0 -RTS
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
TimeoutStopSec=1m 3s
Restart=on-failure
StartLimitInterval=5
StartLimitBurst=1
WorkingDirectory=/var/lib/halon
Environment=HALON_PERSISTENCE=/var/lib/halon
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
