[Unit]
Description=Halon cleanup service
Documentation=https://github.com/seagate-ssg/halon

[Service]
EnvironmentFile=/etc/sysconfig/halond
Type=oneshot
ExecStart=/usr/libexec/halon/halon-cleanup
