[Unit]
Description=Halon Daemon
Documentation=https://github.com/tweag/halon
Requires=halond.service
After=halond.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/halond
EnvironmentFile=/etc/sysconfig/halon-satellite
ExecStart=/usr/bin/halonctl -a $HALOND_LISTEN -l $HALONCTL_LISTEN bootstrap satellite $HALON_TRACKERS
WorkingDirectory=/var/lib

[Install]
WantedBy=multi-user.target
