[Unit]
Description=Halon Daemon
Documentation=https://github.com/tweag/halon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/halond
ExecStart=/usr/bin/halond -l $HALOND_LISTEN +RTS -s -A16m -RTS
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
TimeoutStopSec=1m 3s
Restart=on-abort
StartLimitInterval=5
StartLimitBurst=1
WorkingDirectory=/var/log
Environment=HALON_PERSISTENCE=/var/lib/halon
LimitCORE=infinity

[Install]
WantedBy=multi-user.target

